<div id="card-bottle">
    <h1 class="card-title">{{bottle.Name}}</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id : {{bottle.Id}}</li>
        <li class="list-group-item">Date : {{bottle.Date}}</li>
        <li class="list-group-item">Quantité : {{bottle.Amount}}</li>
        <li class="list-group-item">Prix par bouteille : {{bottle.PricePerBottle}}</li>
        <li class="list-group-item">Type de vin : {{bottle.Typevin}}</li>
        <!-- <li class="list-group-item">Owner : {{bottle.Owner}}</li>    -->
        <li class="list-group-item">OwnerID : {{bottle.OwnerId}}</li>   
        <!-- <li class="list-group-item">Cave : {{bottle.Cave}}</li>    -->
        <li class="list-group-item">CaveID : {{bottle.CaveId}}</li>   
        <!-- <img [src]="imageByForce()"/>   -->
        <img class="bottle-img" src="{{bottle.ImageUrl}}">
    </ul>
    <div class="button-space">
        <button class="btn btn-outline-danger" (click)="onDeleteBottle()">Supprimer</button>
    </div>
    <!-- <div class="button-space">
        <button class="btn btn-warning" (click)="updateBottle()">Update</button>
    </div> -->
</div>
